namespace: discord-bots

resources:
- aspirate-output

patches:
- target:
    kind: Deployment
    name: schulplanerbot
  path: ./patches/patch-deployment.yaml
- target:
    kind: Service
    name: schulplanerbot
  path: ./patches/patch-service.yaml