- op: add
  path: /metadata/annotations/prometheus.io~1scrape
  value: "true"
- op: add
  path: /metadata/annotations/prometheus.io~1port
  value: "8080"     # Port set by aspirate as default
- op: add
  path: /metadata/annotations/prometheus.io~1path
  value: "/metrics"